.content {
    display: grid;
    grid-row-gap: 25px;
    padding-top: 25px;
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.test-name-list{
    /*color: #5e5d73;*/
    color: #DDDFEB;
    font-size: 25px;
}

.container {
    display: grid;
    grid-row-gap: 25px;
}

