.header {
    padding: 1.25rem 5rem;
    box-shadow: 0 0.188rem 0.188rem rgba(118, 117, 144, 0.12);
    letter-spacing: 0.02rem;
    line-height: 1.7;
    font-size: 0.938rem;
    display: flex;
    justify-content: space-between; /* Располагает кнопки по краям контейнера */
}

.header.light-theme {
    background-color: #FFFFFF;
    color: #5E5C74;
}

.header.dark-theme {
    background-color: #312f36;
    color: #DDDFEB;
}

/* Стили для кнопки */
.toggle-theme-btn {
    padding: 10px 10px;
    height: 45px;
    width: 45px;
    font-size: 1rem;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Светлая тема */
.light-theme .toggle-theme-btn {
    background-color: #f0f0f0;
    color: #333;
}

/* Темная тема */
.dark-theme .toggle-theme-btn {
    background-color: #333;
    color: #f0f0f0;
}

.toggle-theme-btn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Стили для иконки, если вы используете её в кнопке */
.toggle-theme-btn-icon {
    /*margin-right: 5px;*/
    height: 25px;
    width: 25px;
    /* дополнительные стили для иконки */
}
