.header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    box-shadow: 0 3px 3px rgba(118, 117, 144, 0.12);
    letter-spacing: 0.02em;
    line-height: 1.7;
    font-size: 15px;
}

header.light-theme {
    background-color: #FFFFFF;
    color: #5E5C74;
}

header.dark-theme {
    background-color: #312f36;
    color: #DDDFEB;
}