.modal.light-theme {
    background-color: #F1F4F7;
}

.modal-test-btn.light-theme {
    background-color: #D9E1E7;
}

.modal-test-btn.light-theme:hover  {
    box-shadow: 0 0 0 2px #F1F4F7, 0 0 0 5px #5F5E7B;
}


.modal.dark-theme {
    background-color: #5F5E7B;
}

.modal-test-btn.dark-theme {
    background-color: #4F4E66;
}

.modal-test-btn.dark-theme:hover  {
    box-shadow: 0 0 0 1px #DDDFEB, 0 0 0 4px #4F4E66;
}



.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.modal {
    /*background-color: #5F5E7B;*/
    width: 80%;
    height: 80%;
    padding: 40px 30px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}

.overlay.animated {
    opacity: 0;
    visibility: hidden;

    .modal {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -30%);
        transition-delay: 0.2s;
    }

    &.show {
        opacity: 1;
        visibility: visible;

        .modal {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, -50%);
        }
    }
}

.buttons-container {
    display: flex;
    justify-content: space-between; /* Располагает кнопки по краям контейнера */
}

.modal-test-btn {
    border: none;
    font: inherit;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    color: inherit;
    transition: .2s linear;
    /*background: #4F4E66;*/
    padding: 10px 10px;
}

/*.modal-test-btn:hover  {*/
/*    box-shadow: 0 0 0 1px #DDDFEB, 0 0 0 4px #4F4E66;*/
/*}*/

.h {
    text-align: center;
    letter-spacing: 0.03em;
}

p{
    padding-bottom: 10px;
}

.test-description {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0.03em;
    line-height: 1.5;
}