.test-list-title.light-theme{
    /*color: #5e5d73;*/
}
.test-list-title.dark-theme{
    /*color: #DDDFEB;*/
}

.content {
    display: grid;
    grid-row-gap: 25px;
    padding-top: 25px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.test-list-title{
    /*color: #5e5d73;*/
    /*color: #DDDFEB;*/
    font-size: 25px;
}

.test-dashboard {
    display: grid;
    grid-row-gap: 25px;
}

