.header {
    padding: 1.25rem 5rem;
    box-shadow: 0 0.188rem 0.188rem rgba(118, 117, 144, 0.12);
    letter-spacing: 0.02rem;
    line-height: 1.7;
    font-size: 0.938rem;
    display: flex;
    justify-content: space-between; /* Располагает кнопки по краям контейнера */
}

.header.light-theme {
    background-color: #FFFFFF;
    color: #5E5C74;
}

.header.dark-theme {
    background-color: #312f36;
    color: #DDDFEB;
}


